*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    width: 60%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
}

nav{
    color: white;
    background-color: #fc5108;
    height: 40px;
    padding: 15px;
    font-size:small ;

}

nav img{
    width: 80px;
    height: 20px;
    
}